.content {
  background-color: rgb(216, 176, 216);
  color: red;

  &__type {
    &_group {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;

      &--no_data {
        color: green;
      }

    }

    &_item {
      /* padding: 0 10px 15px 10px; */
      margin:  0 10px 15px 10px;
      color: green;
      display: inline-block;
      position: relative;
      cursor: pointer;
      border-radius: 10px;
      width: 100px;
      transform: scale(1);
      transition: transform 1s;

      &--img {
        display: block;
        border-radius: 10px 10px 0 0;
      }
      
      &--title {
        position: absolute;
        background-color: grey;
        color: orange;
        transform: translateX(-50%);
        border-radius: 0 0 10px 10px;
        width: 100%;
      }

      &:hover {
        transform: scale(1.2);
        transition: transform .3s;
      }

    }
  }
}