.header {
  color: blue;
  background-color: red;

  &__logo {
    background-color: green;;
  }

  &__info {
    width: 80%;
    background-color: yellow;

    @mixin atSmall {
      font-size: 1rem;
    }
  }
}
