.row{
  @mixin clearfix;
  &--show_products {
    padding-bottom: 25px;
  }
}

.col {
  @mixin clearfix;
  &__1 {width: 8%; float: left;}
  &__2 {width: 16%; float: left;}
  &__4 {width: 33%; float: left;}
  &__8 {width: 66%; float: left;}
  &__10 {width: 84%; float: left;}
  &__11 {width: 92%; float: left;}
}